@mixin rgba-border($border-width: 1px, $border-style: solid, $hexadecimal-color: black, $opacity: 1) {
  border : $border-width $border-style $hexadecimal-color;
  border : $border-width $border-style rgba($hexadecimal-color, $opacity);
}
@mixin rgba-border-top($border-width: 1px, $border-style: solid, $hexadecimal-color, $opacity: 1) {
  border-top : $border-width $border-style $hexadecimal-color;
  border-top : $border-width $border-style rgba($hexadecimal-color, $opacity);
}
@mixin rgba-border-right($border-width: 1px, $border-style: solid, $hexadecimal-color, $opacity: 1) {
  border-right : $border-width $border-style $hexadecimal-color;
  border-right : $border-width $border-style rgba($hexadecimal-color, $opacity);
}
@mixin rgba-border-bottom($border-width: 1px, $border-style: solid, $hexadecimal-color, $opacity: 1) {
  border-bottom : $border-width $border-style $hexadecimal-color;
  border-bottom : $border-width $border-style rgba($hexadecimal-color, $opacity);
}
@mixin rgba-border-left($border-width: 1px, $border-style: solid, $hexadecimal-color, $opacity: 1) {
  border-left : $border-width $border-style $hexadecimal-color;
  border-left : $border-width $border-style rgba($hexadecimal-color, $opacity);
}
