error {
  margin           : $messages-margin;
  padding          : $messages-padding;
  border-left      : 0.3rem solid $color-red;
  background-color : #E74C3C20;
  display          : flex;
  flex-direction   : column;
  > span {
    margin-bottom : 0.5rem;
  }
  > ul {
    margin-bottom : 0;
  }
  &::selection,
  &::selection * {
    background-color : $color-red;
    color            : $color-white;
  }
  &::-moz-selection,
  &::-moz-selection * {
    background-color : $color-red;
    color            : $color-white;
  }
}