error {
  margin         : $messages-margin;
  padding        : 0.1rem $messages-padding;
  @include rgba-border-left(0.3rem, solid, $color-red);
  display        : flex;
  flex-direction : column;
  @include rgba-background($color-red, $color-red-opacity);
  span {
	display         : flex;
	flex-direction  : row;
	justify-content : flex-start;
	align-content   : center;
	quantity {
	  font-weight : 600;
	  font-size   : 2rem;
	  color       : $color-red;
	}
	strong {
	  margin-left : 1rem;
	}
  }
  &::selection,
  & *::selection {
	@include rgba-background($color-red);
	color : $color-white;
  }
  &::-moz-selection,
  & *::-moz-selection {
	@include rgba-background($color-red);
	color : $color-white;
  }
  &.with-animation {
	animation-name      : fadeInUp;
	animation-fill-mode : both;
	animation-duration  : 200ms;
  }
  &.ng-leave,
  &.ng-hide {
	display            : none !important;
	animation-duration : 0ms !important;
  }
}