error {
  margin         : $messages-margin;
  padding        : $messages-padding;
  border-left    : 0.3rem solid $color-red;
  display        : flex;
  flex-direction : column;
  @include rgba-background($color-red, $color-red-light-opacity);
  > span {
    margin-bottom : 0.5rem;
  }
  > ul {
    margin-bottom : 0;
  }
  &::selection,
  & *::selection {
    background-color : $color-red;
    color            : $color-white;
  }
  &::-moz-selection,
  & *::-moz-selection {
    background-color : $color-red;
    color            : $color-white;
  }
  &.with-animation {
    animation-name      : fadeInUp;
    animation-fill-mode : both;
    animation-duration  : 200ms;
  }
  &.ng-leave,
  &.ng-hide {
    display            : none !important;
    animation-duration : 0ms !important;
  }
}