neutral {
  margin         : $messages-margin;
  padding        : $messages-padding;
  @include rgba-border-left(0.3rem, solid, $color-silver);
  display        : flex;
  flex-direction : column;
  @include rgba-background($color-silver, $color-silver-opacity);
  &::selection,
  & *::selection {
    @include rgba-background($color-asbestos);
    color : $color-white;
  }
  &::-moz-selection,
  & *::-moz-selection {
    @include rgba-background($color-asbestos);
    color : $color-white;
  }
}