copy-btn {
  display         : flex;
  flex-direction  : row;
  justify-content : center;
  align-items     : center;
  @include rgba-background($color-white);
  fill            : $color-green-sea;
  outline         : none;
  cursor          : pointer;
  border-radius   : 50%;
  width           : $input-height;
  height          : $input-height;
  transition      : $transition;
  svg {
    width  : 50%;
    height : 50%;
    fill   : inherit;
  }
  &:hover, &:focus, &:active {
    @include rgba-background($color-grey-light, $color-grey-light-opacity);
    fill : $color-turquoise;
  }
}