---
---
@import "{{ site.theme }}";
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "mixins/rgba-background";
@import "mixins/rgba-border";
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// COLORS ///
$color-turquoise : #1ABC9C;
$color-green-sea : #16A085;
$color-clouds : #ECF0F1;
$color-grey-light : #000000;
$color-grey-light-opacity : 0.03;
$color-grey : #DCE6F0;
$color-grey-darker : #606C71;
$color-white : #FFFFFF;
$color-red : #E74C3C;
$color-red-opacity : 0.08;
$color-scrollbar-background : #ECF0F1;
$color-scrollbar-foreground : #7F8C8D;
$color-silver : #BDC3C7;
$color-silver-opacity : 0.20;
$color-asbestos : #7F8C8D;
/// VARIABLES ///
$color-title : $color-green-sea;
$color-links : $color-turquoise;
$color-links-hover : $color-green-sea;
$color-header : $color-clouds;
$color-input-border : $color-grey;
$color-input-color : $color-grey-darker;
$transition : 100ms ease-out;
$font-family : "Nunito Sans", sans-serif;
$input-height : 3rem;
$label-bottom-space : 0.4rem;
$input-max-width : 450px;
$loader-size : 7rem;
$messages-margin : 1rem 0;
$messages-padding : 1rem;
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "partials/overrides/cayman.override";
@import "partials/overrides/calendar.override";
@import "partials/overrides/scrollbar.override";
@import "partials/grid";
@import "partials/dates/calculated.date";
@import "partials/dates/initial.date";
@import "partials/copy.btn";
@import "partials/copy.container";
@import "partials/animation";
@import "partials/loader";
@import "partials/messages/error.message";
@import "partials/messages/neutral.message";
@import "partials/input";
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
